.sort {
  margin-left: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  .title {
    font-weight: bold;
    margin-right: 20px;
  }
  .option {
    color: #929292;
    font-weight: bold;
    margin-right: 20px;
    cursor: pointer;
    &.active {
      color: #4269ea;
      border-bottom: 4px solid #4269ea;
      padding-bottom: 5px;
    }
  }
  .mobileSort {
      display: none;
  }
}
@media screen and (max-width: 800px) {
  .sort {
    display: none;
    .mobileSort {
        display: block;
    }
  }
}
